---
import Layout from "@layouts/Layout.astro";

import { IndexFooter } from "@components/IndexFooter";
import ClassTable from "@components/class/Table.astro";

import rawInfoKelas from "@data/kelas/info.json";
import { kelasInfoValidator, kelasSpesifikValidator } from "@utils/schedule";

const infoKelasSafe = await kelasInfoValidator.parseAsync(rawInfoKelas);
const allClass = await Promise.all(
  infoKelasSafe
    .flatMap((jenjang) => jenjang.kelas)
    .map(async (kelas) => {
      const data = await import(
        `../data/kelas/${kelas.replace(".json", "")}.json`
      ).then((d) => d.default);

      const dataKelasSafe = await kelasSpesifikValidator.parseAsync(data);

      return {
        kelas,
        data: dataKelasSafe,
      };
    })
);
---

<Layout
  title="Jadwal Belajar dan Mengajar SMA Negeri 1 Boyolangu"
  description="Lihat jadwal pelajaran seluruh kelas beserta nama guru yang mengajar."
>
  <header
    class="pt-[1.8rem] w-full flex flex-col items-center gap-0.5 md:gap-3 justify-center"
  >
    <h1
      class="text-center text-poppins text-4xl lg:text-5xl font-medium w-[50%] sm:w-[80%] md:w-auto"
    >
      Jadwal Belajar dan Mengajar
    </h1>
    <div class="flex flex-col md:flex-row md:gap-2 items-center">
      <h2 class="scroll-m-20 text-xl lg:text-2xl tracking-tight">
        SMA Negeri 1 Boyolangu
      </h2>
      <h2
        class="scroll-m-20 text-xl lg:text-2xl hidden md:block tracking-tight"
      >
        |
      </h2>
      <h2 class="scroll-m-20 md:text-xl lg:text-2xl tracking-tight">
        Tahun ajaran 2024/2025
      </h2>
    </div>
  </header>

  <main class="py-10 pb-20 px-5">
    <section class="pb-5 flex flex-col gap-3 justify-between">
      <select
        class="border rounded-lg bg-white dark:border-neutral-900 dark:border-sm dark:bg-neutral-900 w-full h-10 px-3"
      >
        <option value="">Pilih posisi</option>
        <option value="teacher">Guru</option>
        <option value="student">Murid</option>
      </select>

      <select
        class="border rounded-lg bg-white dark:border-neutral-900 dark:border-sm dark:bg-neutral-900 w-full h-10 px-3"
      >
        <option value="">Pilih kelas</option>
        {
          infoKelasSafe.map((info) => (
            <optgroup label={`Kelas ${info.jenjang}`}>
              {info.kelas.map((k) => (
                <option value={`kelas_${k}`}>{k}</option>
              ))}
            </optgroup>
          ))
        }
      </select>
    </section>

    <section id="guru"></section>
    <section id="murid">
      {
        allClass.map((individualClass) => (
          <ClassTable individualClass={individualClass} />
        ))
      }
    </section>
  </main>

  <IndexFooter client:idle />
</Layout>
